html, body, .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 38px;
}

.pure-menu-open {
    border-bottom: 1px solid #B7B7B7;
}

.pull-right {
    float: right;
}

.CodeMirror {
    height: 100%;
}

#main {
 	height: 100%;
    width: 100%;
}
/* #main div { */
/* 	overflow: auto; */
/* } */
.vsplitbar {
	width: 5px;
	background: #aaa;
}